body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    top,
    #feffff 0%,
    #ddf1f9 35%,
    #a0d8ef 100%
  );
}
.contacts-heading,
.skills-heading,
.code-heading,
.education-heading {
  text-align: center;
  font-size: 28px;
  font-style: italic;
}
.git-link {
  text-decoration: none;
  color: rgb(128, 128, 128);
  font-style: italic;
}
p,
li,
.git-link,
.language-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.photo-wrapper {
  text-align: center;
}
.bold-text {
  font-weight: 700;
}
