body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    top,
    #feffff 0%,
    #ddf1f9 35%,
    #a0d8ef 100%
  );
}
.headingText {
}
.contactsHeading,
.skillsHeading,
.codeHeading,
.educationHeading {
  text-align: center;
  font-size: 28px;
  font-style: italic;
}
.gitLink {
  text-decoration: none;
  color: gray;
  font-style: italic;
}
p,
li,
.gitLink,
.languageText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.boldText {
  font-weight: 700;
}
